# Secrets & Environment Variables
SECRETS.MD
SECRETS.md
secrets.md
.env
.env.*
!.env.example

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# IDE & OS
.DS_Store
.idea/
.vscode/
*.swp
*.lock

# iOS & Android local overrides
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Pods/
ios/.symlinks/
android/local.properties
android/.gradle/
android/captures/
android/app/build/
